//Created by yurabazaliy on 20.01.17.

doctype html
html
    head

        //- bower:js
        script(src='../bower_components/jquery/dist/jquery.js')
        //- endbower


        title Нова Пошта API

    body

        select#cities
        select#warehouses
        script(src='js/main.js')



